<%- include('header'); -%>
<head></head>
<body style="height: 50px;text-align: right;">

<form method="post" action="/add-bug">
    <div class="form-group">
        <label for="bootsrapNodes">Bug title</label>
        <textarea class="form-control" name="title" id="" rows="1"></textarea>
    </div><div class="form-group">
        <label for="bootsrapNodes">Bug description</label>
        <textarea class="form-control" name="description" id="" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-info add-bug-btn">submit</button>

</form>


<div class="modal fade" id="AddBugModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Node info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/add-bug">
                    <div class="form-group">
                        <label for="bootsrapNodes">Bug title</label>
                        <textarea class="form-control" name="title" id="" rows="1"></textarea>
                    </div><div class="form-group">
                        <label for="bootsrapNodes">Bug description</label>
                        <textarea class="form-control" name="description" id="" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-info add-bug-btn">submit</button>

                </form>
            </div>

        </div>
    </div>
</div>
</body>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        window.top.postMessage('start-git-bug-iframe', '*');

    });
</script>
